.contentContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.commentContentContainer {
  padding: 60px;
}
.eventLogo {
  font-size: 6rem;
}
.card {
  padding: 10px;
  width: 20rem;
}
.eventImage {
  width: 100%;
  height: 60%;
}

p:nth-child(2) {
  padding-top: 2.6rem;
  font-size: 22px;
}

.card p:nth-child(3) {
  font-size: small;
}

.register {
  padding: 22px;
  background-color: rgb(230, 44, 75);
  border-radius: 16px;
  border: none;
  margin-top: 30px;
  color: white;
}

.register:hover {
  background-color: rgb(248, 39, 39);
}
